*{
    padding: 0;
    margin: 0;
    font-family: 'Heebo', sans-serif;
}
/* inicio da estilização do topo do site */
header{
    padding: 8px 0;
    display: flex;
    justify-content: center;
    background-color: #141819;
    overflow: hidden;

    position: fixed;
    width: 100%;
}
header .logo{
    float: left;
    display: block;
}
.topo{ 
    width: 90%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px red;
}
.topo .menu-principal{
    padding: 0 32px;
    display: flex;
    align-items: center;
}
.topo .menu-principal ul{
    justify-content: space-around;
    display: flex;
    list-style: none;
}
.topo .menu-principal li a{
    color: #F4C708;
    float: right;
    text-decoration: none;
    display: block;
    padding: 14px 16px;
    font-weight: bolder;
}
.topo .compras-login{
    padding: 32px 16px;
}
.topo .compras-login a{
    padding: 20px 16px;
}
/* Termino da estilização do topo do site */
.banner{
    width: auto;
    height: auto;
}
.banner img{
    width: 100%;
}
/* Banner conteudo 1 e 2 do site */
.Primeiro-conteudo{
    display: flex;
    background-color: #3f3f41 
}
.Primeiro-conteudo .imagem{
    width: 50%;
}
.Primeiro-conteudo .imagem img{
    width: 100%;
}
.Primeiro-conteudo .texto-conteudo1{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto-conteudo1 div{
    width: 80%;

}
.texto-conteudo1 h1{
    color: #fff;
    font-weight: 100;
    font-size: 56px;
    font-weight: bolder;
}
.texto-conteudo1 p{
    font-size: 14px;
    line-height: 32px;
    padding: 12px 0;
    color: #fff;
}
.texto-conteudo1 a{
    background-color:#141819;
    border-radius: 8px;
    padding: 8px 20px;
    font-size: 14px;
    color: #fff;
    font-weight: bolder;
}
.Segundo-conteudo{
    display: flex;
    background-color:#3f3f41; 
}
.Segundo-conteudo .imagem{
    width: 50%;
}
.Segundo-conteudo .imagem img{
    width: 100%;
}
.Segundo-conteudo .texto-conteudo2{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto-conteudo2 div{
    width: 80%;
}
.texto-conteudo2 h1{
    color: #fff;
    font-weight: 100;
    font-size: 56px;
    font-weight: bolder;
}
.texto-conteudo2 p{
    font-size: 14px;
    line-height: 32px;
    padding: 12px 0;
    color: #fff;
}
.texto-conteudo2 a{
    background-color: #141819;
    color: #fff;
    border-radius: 8px;
    padding: 8px 20px;
    font-size: 14px; 
    font-weight: bolder;
}
.texto-conteudo1 a:hover{
    background-color:#F4C708;
    transition: 1s;
}
.texto-conteudo2 a:hover{
    background-color:#F4C708;
    transition: 1s;
}
/* Fim do Banner conteudo 1 e 2 do site */

/* Inicio da configuração dos cards */
.fila{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
  }
.card:hover{
    transform: translateY(-5px);
    cursor: pointer;
}   
.card p{
    color: #a3a5ae;
    font-size: 16px;
}
.primeiro, .segundo, .terceiro{
    border-left: 3px solid #f7b432;
}
/* término da configuração dos cards */ 

