*{
    padding: 0;
    margin: 0;
    /*text-decoration: none;*/
}
header{
    padding: 8px 0;
    display: flex;
    justify-content: center;
    background-color: #F7B432;
}
.topo{ 
    width: 90%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px red;
}
.topo .menu-principal{
    padding: 0 32px;
    display: flex;
    align-items: center;
}
.topo .menu-principal ul{
    justify-content: space-around;
    display: flex;
    list-style: none;
}
.topo .menu-principal li{
    padding: 8px 14px;   
}
.topo .menu-principal li a{
    color: black;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
}
.banner img{
    width: 100%;
}
.linha-banner{
    border-bottom:28px solid #f7b432;
}
/* Banner e Texto do site */
.Primeiro-conteudo{
    display: flex;
}
.Primeiro-conteudo .imagem{
    width: 50%;
}
.Primeiro-conteudo .imagem img{
    width: 100%;
}
.Primeiro-conteudo .texto-conteudo1{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto-conteudo1 div{
    width: 80%;
}
.texto-conteudo1 h1{
    color: black;
    font-weight: 100;
    font-size: 56px;
    font-weight: bold;
}
.texto-conteudo1 p{
    font-size: 14px;
    line-height: 32px;
    padding: 12px 0;
}
.texto-conteudo1 a{
    background-color:#d86450;
    border-radius: 8px;
    padding: 8px 20px;
    font-size: 14px;
    color: whitesmoke;
}
.Segundo-conteudo{
    display: flex;
}
.Segundo-conteudo .imagem{
    width: 50%;
}
.Segundo-conteudo .imagem img{
    width: 100%;
}
.Segundo-conteudo .texto-conteudo2{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto-conteudo2 div{
    width: 80%;
}
.texto-conteudo2 h1{
    color: black;
    font-weight: 100;
    font-size: 56px;
    font-weight: bold;
}
.texto-conteudo2 p{
    font-size: 14px;
    line-height: 32px;
    padding: 12px 0;
}
.texto-conteudo2 a{
    background-color: #d86450;
    color: whitesmoke;
    border-radius: 8px;
    padding: 8px 20px;
    font-size: 14px; 
}
.texto-conteudo1 a:hover{
    background-color:#721505;
    transition: 1s;
}
.texto-conteudo2 a:hover{
    background-color:#721505;
    transition: 1s;
}
/* Fim do Banner e Texto do site */

/* Inicio da configuração dos cards */
.fila{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 30px;
    margin: 20px;
    width: 400px;
    transition: all 0.3s ease-out;
  }
.card:hover{
    transform: translateY(-5px);
    cursor: pointer;
}   
.card p{
    color: #a3a5ae;
    font-size: 16px;
}
.primeiro, .segundo, .terceiro{
    border-left: 3px solid #f7b432;
}
/* término da configuração dos cards */ 
